.submit {
  &.review {
    display: flex;
    column-gap: 20px;
  }
}

.backBtn {
  position: absolute;
  top: 26px;
  left: 28px;
  font-size: 23px;
  color: white;
}

.marker {
  svg {
    font-size: 23px !important;
  }
}
